*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;


}

h1{
    color: #E53170;
}

a{
  color: #48C9F8;
  text-decoration: none;
}

header{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
.article{
text-align: center;
padding-bottom: 20px;
}

.container{
    max-width: 1200px;
    margin:0 auto;
    padding: 10px;
   
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.debug{
    border: 5px solid rgba(0, 0, 0, 0) ;
    padding: 10px;
}

.profile{
    max-width: 1200px;
    margin: 20px auto;

}

.pull-left{
    float: left;
}

.box{
    width: calc(100% / 3);
    padding: 20px 15px;
   
}

.card{
    background-color: #0F0E17;
    color: white;
}

.card img{
   width: 100px;
   display: block;
   margin-right: 10px;
}

.contenuto{
    margin-top: 10px;
}


